@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Merriweather:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.main {
    /* width: 100vw;
    height: 630px; */
    overflow-x: hidden;
}


/* navigation bar */
nav {
    max-width: 150vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 85px;
}

nav img {
    width: 130px;
    position: relative;
    margin: 6px;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav a {
    color: #5A5A5A;
    position: relative;
    margin: 10px;
    padding: 6px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    transition: color 0.25s ease-in;
}

a::before,
a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(72, 104, 101);
    transform-origin: center;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

a::before {
    top: 0;
}

a::after {
    bottom: 0;
}

a:hover::before,
a:hover::after {
    transform: scaleX(1);
}

.color {
    font-size: large;
    font-family: 'Faster One', system-ui;
}

button {
    margin: -5px 20px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #231919;
}

.rainbow:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 8s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}


/* page 1 */
.first {
    display: flex;
    justify-content: center;
    /* gap: 150px; */
}

.providing {
    width: 477px;
    height: 400px;
    margin: 110px 0px 50px 5px;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    overflow: auto;
}

.providing span{
    color: #3258DC;
}

.quality {
    margin: 95px;
    margin-right: 0px;
    color: #3258DC;
}

.desc {
    color: #5A5A5A;
    font-size: 15px;
    text-align: justify;
    margin-right: 50px;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.explore {
    padding: 12px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.explore:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 12px;
    right: -20px;
    transition: 0.5s;
}

.explore:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.explore:hover:after {
    opacity: 1;
    right: 10px;
}

.p1img{
    width: 550px;
    height: 590px;
    /* margin: 0px 50px; */
    display: flex;
    flex-flow: row wrap;
}

.p1img1{
    width: 235px;
    height: 270px;
    margin-left: 25px;
    margin-right: -15px;
    border-radius: 30px;
    box-shadow: 0 15px 15px -4px rgb(0, 0, 0, 1);
}

.p1img2{
    width: 201px;
    height: 200px;
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0 15px 15px -4px rgb(0, 0, 0, 1);
}

.p1img3{
    width: 295px;
    height: 260px;
    /* margin: 5px; */
    border-radius: 30px;
    box-shadow: 0 15px 15px -4px rgb(0, 0, 0, 1);
}

.menu-icon, .close-icon {
    display: none;
    cursor: pointer;
}


/* page 2 */
.second{
    display: flex;
    justify-content: center;
    background-color: #3258DC;
}

.p2img{
    width: 477px;
    height: 400px;
    display: block;
    flex-flow: row wrap;
    margin: 110px 0px 50px 5px;
    /* padding: 20px;
    margin: 65px; */
}

.p2img1{
    width: 221px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 5px -4px rgb(0, 0, 0, 1);
    border: 1.5px solid black;
}

.p2img2{
    width: 221px;
    height: 300px;
    margin: -215px 0px 0px 108px;
    border-radius: 20px;
    box-shadow: 0 5px 5px -4px rgb(0, 0, 0, 1);
    border: 1.5px solid black;
}


.why{
    width: 550px;
    height: 520px;
    color: white;
    margin-top: 100px;
    font-size: 50px;
    letter-spacing: 1.5px;
    font-family: 'Merriweather', serif;
    overflow: auto;
}

.whyanswer{
    font-size: 15px;
    line-height: 2;
    margin: 40px 0px 0px 50px;
    
}

.whyanswer ul{
    list-style: square inside;
}


/* page 3 */
.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.looking{
    margin: 70px 0px 10px 0px;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    justify-content: center;
    align-items: center;
}

.services{
    margin: 10px;
}

.services img{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 5px -4px rgb(0, 0, 0, 1);
}

.p3img{
    margin: 35px;
}

#p3img1{
    border: none;
    padding: 6px;
    margin: 10px;
    box-shadow: 0 15px 15px -8px rgb(0, 0, 0, 1);
}


/* page 4 */
.fourth{
    display: flex;
    /* background-size: 100% 100%; */
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(images/p4background.png);
}

.box{
    display: flex;
    width: 100%;
    height: 510px;
    opacity: 79%;
    background-color: #3258DC;
    justify-content: center;
    align-items: center;
}

.new{
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

/* media query */

@media only screen and (max-width: 950px) {

    .menu-icon {
        display: block;
    }

    nav {
        max-width: 150vw;
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 100px;
    }

    nav ul{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 30px;
        align-items: start;
    }

    .all {
        position: fixed;
        top: 0px;
        left: 600px;
        width: 40%;
        height: 100%;
        background-color: rgba(255, 255, 255);
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        /* align-items: start; */
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .all.active {
        transform: translateX(0);
    }

    .all a {
        margin: 10px;
    }
    
    .menu-icon{
        margin-right: 50px;
    }

    .menu-icon.active {
        display: none;
    }

    .close-icon {
        display: block;
        font-size: xx-large;
        margin: 15px;
    }
    
    .p1img, .p2img {
        display: none;
    }

    .why{
        font-size: 40px;
        margin: 15px;
    }
}

@media only screen and (max-width: 800px){
    .all{
        left: 500px;
    }
}

@media only screen and (max-width: 650px){
    .all{
        left: 400px;
    }
}

@media only screen and (max-width: 550px){
    .all{
        left: 330px;
    }
}

@media only screen and (max-width: 450px){
    .all{
        left: 270px;
    }
}

@media only screen and (max-width: 400px){
    .all{
        left: 240px;
    }
}

@media only screen and (max-width: 360px){
    .all{
        left: 215px;
    }
}

@media only screen and (max-width: 320px){
    .all{
        left: 185px;
    }
}


@media only screen and (max-width: 500px){
    .providing, .why {
        font-size: 20px;
        margin: 50px;
    }
    
    .desc {
        font-size: 12px;
        margin-right: 3px;
    }

    .whyanswer{
        font-size: 10px;
        margin-left: 0.5px;
        line-height: 3;
    }
}

@media only screen and (min-width: 951px) {
    .menu-icon {
        display: none;
    }
    .close-icon{
        display: none;
    }
}